body{
    background-color: rgb(35 33 35);
}
/* .card{
    width: 50%;
}
.headerImg{
    width: 100%;
} */
.logo{
    width: 15%;
}
img{
    width: 100%;
}
.headerparent{
    width: 80%;
    background-color: rgb(27 25 27);
}
.card{
    border: none;
    background-color: rgb(27 25 27);
    color: rgb(92 93 97);
    width: 25%;
}

.btn{
    width: 60%;
    color: rgb(89, 91, 95);
    background-color: rgb(27 29 33);
}
.card p{
    font-size: 20px;
}